:root {
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --background-container: #665f55;
  --border-light: #c1b6ad;
  scroll-behavior: smooth;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 100;
  src: url("../fonts/inter-v13-latin-100.woff2") format("woff2");
  src: url("../fonts/inter-v13-latin-100.woff2") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/inter-tight-v7-latin-600italic.woff2") format("woff2");
  src: url("../fonts/inter-tight-v7-latin-600italic.woff2") format("woff2");
}
.small-text {
  font-family: "Inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #e1d4c9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #403f3d;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
@media screen and (max-width: 690px) {
  h1 {
    font-size: 48px;
    line-height: 115%;
  }
}
@media screen and (max-width: 381px) {
  h1 {
    font-size: 42px;
    line-height: 115%;
  }
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
@media screen and (max-width: 381px) {
  h2 {
    font-size: 32px;
    line-height: 125%;
  }
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.accent-color-italic-text {
  color: var(--text-accent);
  font-style: italic;
  transform: translateX(-4px) skew(4deg);
}
@media screen and (max-width: 381px) {
  .accent-color-italic-text {
    transform: translateX(-2px) skew(2deg);
  }
}

.accent-color-italic-compressed {
  color: var(--text-accent);
}
.accent-color-text {
  color: var(--text-accent);
}

.header {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
.header__container {
  display: flex;
  padding: 18px 0;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
  height: 60px;
}
.header__logo_active {
  cursor: default;
  pointer-events: none;
}
.header__nav__pannel {
  padding: 16px 0;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .header__nav__pannel {
    position: fixed;
    top: 100px;
    right: -100%;
    width: 100%;
    height: calc(100% - 100px);
    z-index: 10;
    padding-top: 56px;
  }
}
@media screen and (max-width: 381px) {
  .header__nav__pannel {
    position: fixed;
    top: 100px;
    right: -100%;
    width: 100%;
    z-index: 10;
    padding-top: 56px;
  }
}
.header__nav__pannel.is-open {
  visibility: visible;
  opacity: 1;
  right: 0;
  background: #e1d4c9;
  transition: 1s;
  overflow-y: scroll;
}
.header__links {
  display: flex;
  gap: 40px;
  padding-bottom: 7px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
  .header__links {
    flex-direction: column;
    gap: 53px;
  }
}
.header__link__container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header__link__container {
    text-align: center;
  }
}
.header__link {
  font-size: 16px;
  font-weight: 600;
  color: #403f3d;
  line-height: 150%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__link {
    font-size: 32px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header__link {
    cursor: default;
  }
}
.header__link:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #403f3d;
  transition: 0.7s;
  transform: scaleX(0);
}
@media screen and (max-width: 768px) {
  .header__link:before {
    width: 0;
  }
}
.header__link.active:before {
  transform: scaleX(1);
}
.header__link:hover:before {
  transform: scaleX(1);
}
.header__btn__desktop {
  background-color: transparent;
  border: none;
  flex: 0 0 72px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  fill: none;
  stroke: #403f3d;
  color: #403f3d;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  font-family: "Inter";
  font-weight: 600;
  padding-bottom: 4px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .header__btn__desktop {
    margin: 0 auto;
    margin-top: 86px;
    font-size: 32px;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 217px;
    display: none;
  }
}
.header__btn-icon {
  fill: #e1d4c9;
  stroke: #403f3d;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .header__btn-icon {
    width: 40px;
    height: 40px;
  }
}
.header__btn__desktop:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #403f3d;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.header__btn__desktop:hover:before {
  transform: scaleX(1);
}
.header__btn__desktop.active {
  pointer-events: none;
  cursor: default;
  position: relative;
}
.header__btn__desktop.active:before {
  width: 100%;
  transform: scale(1);
}
.header .header__btn__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header__btn__burger {
    display: list-item;
    padding-top: 32px;
  }
}
.header .header__burger-open {
  background: transparent;
  width: 44px;
  height: 44px;
  border: 1px solid #403f3d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media screen and (max-width: 1440px) {
  .header .header__burger-open {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .header__burger-open {
    display: flex;
  }
}

.about__container {
  padding-top: 100px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about__container {
    padding-top: 94px;
  }
}
@media screen and (max-width: 381px) {
  .about__container {
    padding-top: 99px;
  }
}
.about__title {
  color: #403f3d;
  margin-bottom: 37px;
}
@media screen and (max-width: 381px) {
  .about__title {
    margin-bottom: 40px;
  }
}
.about__photos__column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 40px;
  max-width: 660px;
}
@media screen and (max-width: 768px) {
  .about__photos__column {
    width: 100%;
    max-width: 726px;
  }
}
.about__photos__img {
  max-width: 660px;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.3s;
  position: relative;
}
@media screen and (max-width: 768px) {
  .about__photos__img {
    max-width: 726px;
  }
}
.about .big-img {
  height: 590px;
}
.about .small-img {
  height: 430px;
}
@media screen and (max-width: 768px) {
  .about .small-img {
    display: none;
  }
}
.about__photos__img__item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.7s;
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .about__photos__img__item {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 381px) {
  .about__photos__img__item {
    transform: scale(1.22);
  }
}
@media (hover: hover) {
  .about__photos__img__item:hover {
    transform: scale(1);
  }
}

.enjoy__container {
  padding: 100px;
  width: 100%;
  border-radius: 40px;
  position: relative;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .enjoy__container {
    padding: 100px 60px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .enjoy__container {
    padding: 60px 16px;
    background-position: center;
    background-size: cover;
  }
}
.enjoy .video {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.enjoy__offer {
  max-width: 530px;
  color: #e1d4c9;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
@media screen and (max-width: 381px) {
  .enjoy__offer {
    gap: 39px;
  }
}
.enjoy__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.enjoy__btn {
  padding: 20px 78px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .enjoy__btn__text {
    margin-right: 30px;
  }
}
.enjoy__btn:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../images/icons/icon-menu-item.svg);
  right: 52px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .enjoy__btn:before {
    opacity: 1;
    visibility: visible;
    right: 63px;
  }
}
.enjoy__btn:hover:before {
  visibility: visible;
  opacity: 1;
}

.favorite__container {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite__title {
  text-align: center;
  margin-top: 3px;
}
@media screen and (max-width: 381px) {
  .favorite__title {
    font-size: 32px;
    line-height: 126%;
    margin-top: 0;
  }
}

.mobile__container {
  padding: 100px 0 95px;
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 1190px) {
  .mobile__container {
    gap: 100px;
    flex-direction: column;
  }
}
@media screen and (max-width: 381px) {
  .mobile__container {
    gap: 42px;
  }
}
.mobile__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: calc((100% - 100px) / 2);
}
@media screen and (max-width: 768px) {
  .mobile__offer {
    flex-basis: 100%;
    gap: 41px;
  }
}
@media screen and (max-width: 381px) {
  .mobile__offer {
    flex-basis: 100%;
    gap: 40px;
    margin-bottom: 0;
  }
}
.mobile__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.mobile__mobile-screens {
  max-width: 630px;
}
.mobile__mobile-screens__img {
  max-width: 630px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.mobile__buttons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .mobile__buttons {
    margin-top: 6px;
  }
}
@media screen and (max-width: 381px) {
  .mobile__buttons {
    flex-direction: column;
    margin: 0;
    margin-top: 0;
    gap: 21px;
  }
}
.mobile .button-bordered {
  border: 1px solid var(--border-dark);
  padding: 12px 20px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-family: "Inter";
  transition: 1.5s;
  fill: #403f3d;
}
.mobile .button-bordered:hover {
  fill: #e1d4c9;
  stroke: var(--background-container);
  color: #e1d4c9;
  background-color: var(--background-container);
}
.mobile .button-bordered__text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: flex-start;
  text-align: left;
  line-height: 150%;
  font-weight: 600;
}

.footer {
  padding-bottom: 40px;
}
.footer__container {
  padding: 100px;
  background: var(--background-container);
  border-radius: 40px;
  display: flex;
  gap: 137px;
}
@media screen and (max-width: 768px) {
  .footer__container {
    padding: 100px 60px;
    flex-direction: column;
    gap: 100px;
  }
}
@media screen and (max-width: 381px) {
  .footer__container {
    padding: 59px 16px 63px;
    gap: 37px;
  }
}
.footer__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .footer__offer {
    width: 100%;
  }
}
@media screen and (max-width: 381px) {
  .footer__offer {
    gap: 36px;
  }
}
.footer__offer__title {
  color: #e1d4c9;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 381px) {
  .footer__offer__title {
    margin-top: 3px;
    width: 100%;
    display: inline-block;
  }
}
.footer__offer__socials {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 2px;
}
.footer .socials-icon__link .socials-icon {
  stroke: #e1d4c9;
  fill: var(--background-container);
  transition: fill 5s, stroke 0.7s;
}
.footer .socials-icon__link:hover .socials-icon {
  fill: #e1d4c9;
  stroke: #403f3d;
}
@media screen and (max-width: 768px) {
  .footer .socials-icon__link:hover .socials-icon {
    stroke: #e1d4c9;
    fill: var(--background-container);
  }
}
.footer__info {
  gap: 40px;
  padding-top: 32px;
}
@media screen and (max-width: 768px) {
  .footer__info {
    padding-top: 0;
  }
}
@media screen and (max-width: 381px) {
  .footer__info {
    margin-top: 0;
  }
}
.footer__info__title {
  font-size: 24px;
  color: #e1d4c9;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 37px;
}
.footer__info__links {
  display: flex;
  flex-direction: column;
}
.footer .footer__info__links__container:nth-child(1) {
  margin-bottom: 13px;
}
.footer .footer__info__links__container:nth-child(2) {
  margin-bottom: 11px;
}
.footer__info__links__container .socials-icon {
  margin-right: 4px;
}
.footer__info__link-item, .footer__info__time {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #e1d4c9;
}
.footer__info__link-item {
  position: relative;
  padding-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .footer__info__link-item {
    cursor: default;
  }
}
.footer__info__links__container {
  display: flex;
}
.footer__info__time {
  margin-top: 2px;
  padding-bottom: 2px;
}
.footer__info__link-item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #e1d4c9;
  transition: transform 0.7s;
  transform: scaleX(0);
}
@media screen and (max-width: 768px) {
  .footer__info__link-item:before {
    width: 0;
  }
}
.footer__info__link-item:hover:before {
  transform: scaleX(1);
}

.header__burger-open span {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #403f3d;
  transition: 1s;
  will-change: transform;
  border-radius: 50%;
}

.header__burger-open span:nth-child(1) {
  transform: translateY(-4px);
}

.header__burger-open span:nth-child(2) {
  transform: translateY(4px);
}

.header__nav__pannel.is-open ~ .header__burger-open span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header__nav__pannel.is-open ~ .header__burger-open span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

.overlay__hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  display: flex;
  border-radius: 40px;
  background: #e1d4c9;
  color: #403f3d;
  gap: 20px;
  max-width: 800px;
  padding: 16px;
}
@media screen and (max-width: 768px) {
  .modal {
    max-width: 688px;
  }
}
@media screen and (max-width: 700px) {
  .modal {
    max-width: 372px;
  }
}
@media screen and (max-width: 381px) {
  .modal {
    max-width: 342px;
  }
}

.product__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__img {
  flex-shrink: 0;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .modal__img {
    display: none;
  }
}
@media screen and (max-width: 381px) {
  .modal__img {
    display: none;
  }
}

.modal__img img {
  border-radius: 40px;
  width: 310px;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.product__size,
.additives__choice {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__product__size {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.modal__product--options {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (max-width: 381px) {
  .modal__product--options {
    gap: 7px;
  }
}

.modal__size-item {
  display: flex;
  gap: 8px;
  padding: 8px 16px 7px 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  cursor: pointer;
  transition: 0.7s;
}
@media (hover: hover) {
  .modal__size-item:hover {
    color: #e1d4c9;
    background-color: var(--border-dark);
  }
}
@media (hover: hover) {
  .modal__size-item:hover .modal__size-item__size {
    color: #403f3d;
    background-color: #e1d4c9;
  }
}
.modal__size-item__size {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: var(--border-light);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.modal__total {
  display: flex;
  justify-content: space-between;
}

.modal__alert {
  display: flex;
  gap: 8px;
  border-top: 1px solid var(--border-light);
  padding: 12px 0;
  align-items: flex-start;
}

.modal__product__alert__img {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__product__alert__text {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  max-width: 438px;
  transition: 0.7s;
  cursor: pointer;
}

@media (hover: hover) {
  .modal__close-btn:hover {
    color: #e1d4c9;
    background-color: var(--border-dark);
  }
}
.modal__size-item_active {
  background: var(--border-dark);
}
.modal__size-item_active .option__volume {
  color: #e1d4c9;
}

.modal__size-item_active .modal__size-item__size,
.modal__additives-item_active .modal__size-item__size {
  background: #e1d4c9;
}

.modal__additives-item_active {
  background: var(--border-dark);
}
.modal__additives-item_active .option__volume {
  color: #e1d4c9;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  padding: 20px auto;
  border: none;
  font-family: Inter;
  font-size: 16px;
  color: #403f3d;
  font-weight: 600;
  line-height: 150%;
  background: #e1d4c9;
  cursor: pointer;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (max-width: 381px) {
  .container {
    padding: 0 16px;
    max-width: 380px;
  }
}

.two-column-layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .two-column-layout {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (max-width: 381px) {
  .two-column-layout {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.coffee-menu__container {
  padding-bottom: 100px;
}

.favorite__carousel__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.favorite__carousel__container {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.favorite__slider__container {
  overflow: hidden;
  max-width: 480px;
  animation-play-state: paused;
}

.favorite__slider__line {
  display: flex;
  position: relative;
  transition: all 0.5s;
  margin: 0 auto;
}

.favorite__slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  flex-shrink: 0;
  margin: 0 auto;
}
@media screen and (max-width: 381px) {
  .favorite__slider__card {
    max-width: 348px;
  }
}

.favorite__slider__card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  width: 480px;
}

.favorite__slider__arrow {
  width: 62px;
  height: 62px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  stroke: #403f3d;
  fill: transparent;
  flex-shrink: 0;
  margin-top: 40px;
  transition: all 0.5s;
}
@media screen and (max-width: 550px) {
  .favorite__slider__arrow {
    display: none;
  }
}

.favorite__slider__arrow:hover {
  fill: var(--background-container);
  stroke: #e1d4c9;
}

.forward-arrow {
  transform: rotate(180deg);
}

.favorite__card__name {
  margin-top: 20px;
}

.favorite__card__text {
  margin: 16px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.favorite__controlls {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  margin-top: 32px;
  margin-top: 23px;
}
@media screen and (max-width: 768px) {
  .favorite__controlls {
    margin-top: 29px;
  }
}
@media screen and (max-width: 381px) {
  .favorite__controlls {
    margin-top: 39px;
  }
}

.favorite__progress {
  width: 40px;
  height: 4px;
  background: var(--border-light);
  border-radius: 100px;
  cursor: pointer;
}

.progress__active {
  background: var(--border-dark);
  width: 0%;
  height: 100%;
  cursor: default;
  animation: moving;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.progress__active:hover {
  animation-play-state: paused;
}

.progress__paused {
  animation-play-state: paused;
}

@keyframes moving {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.progress__active-item {
  background-color: var(--dark-border-color);
  animation-duration: 5.5s;
  animation-name: fillSlideControl;
  animation-iteration-count: 1;
  animation-play-state: var(--isScrollPause);
}

.slider__control--paused {
  animation-play-state: paused;
}

@keyframes fillSlideControl {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}
.menu__title {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu__title {
    font-size: 60px;
    line-height: 125%;
  }
}
@media screen and (max-width: 381px) {
  .menu__title {
    font-size: 32px;
  }
}

.menu__tabs {
  margin: 38px auto;
  display: flex;
  justify-content: center;
  gap: 14px;
}
@media screen and (max-width: 381px) {
  .menu__tabs {
    gap: 8px;
  }
}

.menu__tabs__item {
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  border: 1px solid var(--border-light);
  background: transparent;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu__tabs__item:hover {
  background-color: var(--background-container);
  color: #e1d4c9;
}
.menu__tabs__item .menu__tab__circle {
  padding: 8px;
  background-color: var(--border-light);
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
@media (hover: hover) {
  .menu__tabs__item:hover {
    color: #e1d4c9;
    background-color: var(--background-container);
  }
  .menu__tabs__item .menu__tab__circle:hover {
    background-color: #e1d4c9;
    border: 1px solid var(--border-light);
  }
}

.tab__active {
  background-color: var(--background-container);
  color: #e1d4c9;
  cursor: default;
  transition: 0.3s;
}
.tab__active .menu__tab__circle {
  background-color: #e1d4c9;
  border: 1px solid var(--border-light);
}

.four-column-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

@media screen and (max-width: 381px) {
  .cards__container {
    gap: 41px;
  }
}

.card__item {
  width: 310px;
  height: 506px;
}

@media screen and (max-width: 768px) {
  .card__item__hidden {
    display: none;
  }
}

.menu__card {
  width: 310px;
  height: 506px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  cursor: pointer;
}

.menu__img__container {
  width: 100%;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.menu__img {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.7s;
  transform: scale(1.1);
}

@media (hover: hover) {
  .card__item:hover .menu__img {
    transform: scale(1);
  }
}
.menu__card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.menu__card__price {
  margin-top: auto;
}

.card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.menu__icon-refresh {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #403f3d;
  border-radius: 50%;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
}

.refresh__hidden,
.hidden {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  padding: 20px auto;
  border: none;
  font-family: Inter;
  font-size: 16px;
  color: #403f3d;
  font-weight: 600;
  line-height: 150%;
  background: #e1d4c9;
  cursor: pointer;
  position: relative;
}/*# sourceMappingURL=main.css.map */