.small-text {
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}



// .wrapper {
//   overflow:hidden;
// }