:root {
  // --background-body: #e1d4c9;
  // --text-dark: #403f3d;
  // --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --background-container: #665f55;
  --border-light: #c1b6ad;
  scroll-behavior: smooth;
}

$color-text-dark: #403f3d;
$background-body: #e1d4c9; 
$color-text-light: #e1d4c9;

$bp-desktop: 1440px;
$bp-tablet: 768px;
$bp-mobile: 381px;