.enjoy {

 &__container {
  padding: 100px;
  width: 100%;
  border-radius: 40px;

  // background: url(../images/img/hero-img.jpg) no-repeat;
  position: relative; 
  background-position: center;
  


   @media screen and (max-width: $bp-tablet) {
    padding: 100px 60px;  
    width: 100%;  
  }
   @media screen and (max-width: 650px) {
    padding: 60px 16px; 
    background-position: center;
    background-size: cover;   
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;  
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;  
}



&__offer {
  max-width: 530px;
  color: $color-text-light;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;

 @media screen and (max-width: $bp-mobile) {
    gap: 39px;    
  }
}

&__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;  
}

&__btn {
  padding: 20px 78px;
  display: flex;
  justify-content: flex-start;
}

&__btn__text {
 
  @media screen and (max-width: $bp-tablet) {    
     margin-right: 30px;
  }
}


&__btn:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../images/icons/icon-menu-item.svg);
  right: 52px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

 @media screen and (max-width: $bp-tablet) {
    opacity: 1;
     visibility: visible;
      right: 63px;
  }
}

&__btn:hover:before {
  visibility: visible;
  opacity: 1;
}
}